<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.FieldsValidation.ValidateFields"
               type="Sitecore.ExperienceEditor.Speak.Ribbon.Requests.FieldsValidation.ValidateFields, Sitecore.ExperienceEditor.Speak.Ribbon">
        <patch:attribute name="type">Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.FieldsValidation.ValidateFields, Sitecore.Support.139071</patch:attribute>
      </request>
    </sitecore.experienceeditor.speak.requests>
    <pipelines>
      <getPageEditorValidators>
        <processor
          type="Sitecore.Support.Pipelines.GetPageEditorValidators.GetFieldValidators, Sitecore.Support.139071"
          patch:instead="*[@type='Sitecore.Pipelines.GetPageEditorValidators.GetFieldValidators, Sitecore.ExperienceEditor']" />
      </getPageEditorValidators>
    </pipelines>
    <processors>
      <saveUI>
        <processor
            type="Sitecore.Support.Pipelines.Save.Validators, Sitecore.Support.139071"
            patch:instead="*[@type='Sitecore.Pipelines.Save.Validators, Sitecore.Kernel']" />
      </saveUI>
    </processors>
  </sitecore>
</configuration>